<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white"> General knowledge</h1>
        <p class="text-white"> Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated.</p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-5">
            <app-post-card></app-post-card>
        </div>

    </div>
</div>