<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                        <small class="bg-light text-danger text-center"> DESIGN </small>
                        <small class="bg-light text-success text-center ml-2"> FEATURED </small>
                        <small class="bg-light text-info text-center ml-2"> Views - 100,255</small>
                        <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 25 2020</small>
                    <h1 class="mt-3 mb-3">
                        HOW TO START BLOG IN 2021 EDITED NEW CATEGORY
                    </h1>
                        <P>
                            Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. 
                            It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.

                            Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. 
                            It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.

                            Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. 
                            It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.

                            Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. 
                            It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.
                         </P>
                </div>

            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
                <app-post-card></app-post-card>
                <app-post-card></app-post-card>
                <app-post-card></app-post-card>
        </div>
    </div>
</div>