<div class="card shadow-effect">  
    <img src="https://images.pexels.com/photos/843226/pexels-photo-843226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views -100,256 </small>
        <h5 class="mt-1"> How to START BLOG IN 2023 EDITED  NEW CATEGORY</h5>
        <p >
            In literary theory, a text is any object that can be "read", whether this object is a work of literature,
             a street sign, an arrangement of buildings on a city block, 
            or styles of clothing. It is a coherent set of signs that transmits some kind of informative message.
        </p>
        <small class="bg-light text-warning text-center ml-3"> Last Updated - 30th jan 2023 </small>
    </div>
</div>